
<li class="dropdown" data-uib-dropdown>
	<a class="dropdown-toggle PHA-menu" id="main-currency-selector" data-uib-dropdown-toggle data-aria-haspopup="true" role="button" data-aria-expanded="false">
		{{currency.symbol}} <span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu" data-aria-labelledby="main-currency-selector">
		<li>
			<a data-ng-click="cs.setCurrency('PHA')" data-ng-class="{active: currency.symbol == 'PHA'}" class="PHA">PHA</a>
		</li>
		<li data-ng-if="currency.tickers.PHA" data-ng-repeat="(key, value) in currency.tickers.PHA" ng-class="key">
			<a data-ng-click="cs.setCurrency(key)" data-ng-class="{active: currency.symbol == {{key}}}" class="{{key}}">{{key}}</a>
		</li>
	</ul>
</li>
