
	
<div id="footer" role="navigation">
	<div class="container">
		<div class="row">
		<div class="col-12">
			<div class="innerpadding">
        <div class="outer">
            <div class="row" style="background: #1f202d !important;">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="content-wrap">
                                <div class="footer-logo">
                                    <a class="logo" href=""><img src="../../assets/images/logo_sm.png" alt="logo"><span>Plaak <br> Phaeton</span></a>
                                </div>
                                <!-- /END OF LOGO-WRAP/ -->
                                <div class="footer-social-items">
                                    <p>Get in touch</p>
                                  <ul class="inline-lists">
                                        <li><a href="https://t.me/joinchat/HCZnLBAVFvwB60gJerbK9Q" target="_blank"><div class="image-container icon_0"><img src="../../assets/images/foot_icon_0.png" alt=""></div></a></li>
                                        
                                        <li><a href="https://discord.gg/F44Ybhj" target="_blank"><div class="image-container icon_1"><img src="../../assets/images/foot_icon_1.png" alt=""></div></a></li>
                                        
                                        <li><a href="https://www.reddit.com/user/PLAAKOfficial" target="_blank"><div class="image-container icon_2"><img src="../../assets/images/foot_icon_2.png" alt=""></div></a></li>
                                        
                                        <li><a href="https://www.facebook.com/plaakcommunity/" target="_blank"><div class="image-container icon_3"><img src="../../assets/images/foot_icon_3.png" alt=""></div></a></li>
                                        
                                        <li><a href="https://twitter.com/plaakcommunity" target="_blank"><div class="image-container icon_4"><img src="../../assets/images/foot_icon_4.png" alt=""></div></a></li>
                                        
                                        <li><a href="https://medium.com/@plaak" target="_blank"><div class="image-container icon_5"><img src="../../assets/images/foot_icon_5.png" alt=""></div></a></li>

                                        <li><a href="https://www.instagram.com/plaak_official/" target="_blank"><div class="image-container icon_5"><img src="../../assets/images/insta.png" alt=""></div></a></li>
                                        
                                        <li><a href="https://www.youtube.com/channel/UCIhazw0c-1701BUPYwA_8uQ" target="_blank"><div class="image-container icon_6"><img src="../../assets/images/foot_icon_6.png" alt=""></div></a></li>
                                        <li><a href="https://in.linkedin.com/company/plaak" target="_blank"><div class="image-container icon_7"><img src="../../assets/images/foot_icon_7.png" alt=""></div></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /END OF CONTENT-WRAP/ -->
                        </div>
                        <!-- /END OF COL/ -->
                    </div>
                    <!-- /END OF ROW/ -->
                </div>
                <!-- /END OF COL/ -->
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 foot-navs">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="content-wrap">
                                <h7>Products</h7>
                                <div class="navs block-lists">
                                    <li><a href="http://freelance.plaak.com/" target="_blank">Freelance App</a></li>
                                    <li><a href="https://plaak.com/exchange/" target="_blank">Exchange App</a></li>
                                    <li><a href="https://plaak.com/investments/" target="_blank">Investment App</a></li>
                                    <li><a href="https://plaak.com/phaeton/"><span>Phaeton</span></a></li>
                                    <li><a href="https://plaak.com/coming-soon.php" target="_blank">Health App</a></li>
                                    <li><a href="https://plaak.com/coming-soon.php" target="_blank">Business Suite</a></li>
                                    <li><a href="https://plaak.com/coming-soon.php" target="_blank">E-market</a></li>
                                    <li><a href="https://plaak.freshdesk.com/support/home"><span>Support</span></a></li>
                                </div>
                            </div>
                            <!-- /END OF CONTENT-WRAP/ -->
                        </div>
                        <!-- /END OF COL/ -->
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="content-wrap">
                                <h7>About</h7>
                                <div class="navs block-lists">
                                    <li><a href="https://plaak.com/blockchain/" target="_blank"><span>Blockchain services</span></a></li>
                                    <li><a href="https://plaak.com/docs/PLAAK-Whitepaper-V2-Freelance.pdf" target="_blank">Freelancer App Whitepaper</a></li>
                                    <li><a href="https://plaak.com/docs/PLAAK-Exchange_Whitepaper.pdf" target="_blank">Exchange App Whitepaper</a></li>
                                    <li><a href="https://plaak.com/#roadmap" data-where-offset="50" data-where-time="400">Roadmap</a></li>
                                    <li><a href="https://plaak.com/team.php">Team</a></li>
                                    <li><a href="https://plaak.com/contact.php">Contact</a></li>
                                    <li><a href="https://plaak.freshdesk.com">FAQs</a></li>
                                    <li><a href="https://plaak.com/terms.php">Terms &amp; Conditions</a></li>
                                    <li><a href="https://plaak.freshdesk.com">Support</a></li>
                                </div>
                            </div>
                            <!-- /END OF CONTENT-WRAP/ -->
                        </div>
                        <!-- /END OF COL/ -->
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="content-wrap">
                                <h7>Policy</h7>
                                <div class="navs block-lists">
                                    <li><a href="https://plaak.com/exchange/privacy_policy.php" target="_blank">Privacy policy</a></li>
                                    <li><a href="https://plaak.com/tsprivacy.php" target="_blank">Token sales policy</a></li>
                                    <!-- <li><a href="">Smart Contract</a></li> -->
                                </div>
                            </div>
                            <!-- /END OF CONTENT-WRAP/ -->
                        </div>
                        <!-- /END OF COL/ -->

                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="content-wrap">
                                <h7>Links</h7>
                                <div class="navs block-lists">
                                    <li><a href="https://plaak.com/exchange/docs/PLAAK-Exchange_Whitepaper.pdf" target="_blank">Whitepaper</a></li>
                                    <li><a href="https://plaak.com/coming-soon.php" target="_blank">ICO Services </a></li>
                                    <li><a href="https://medium.com/@plaak" target="_blank">Blog</a></li>
                                    <li><a href="https://plaak.com/exchange/refer.php" target="_blank">Referral Bonus</a></li>
                                    <li><a href="https://plaak.com/exchange/tokenlisting.php" target="_blank">Token Listing</a></li>
                                    <li><a href="https://plaak.com/coming-soon.php" target="_blank">Security</a></li>
                                    <li><a href="https://support.plaak.com" target="_blank">Support</a></li>
                                    <li><a href="https://plaak.com/exchange/fee.php">Fee</a></li>
                                    <li><a href="https://plaak.com/exchange/kyc-policy.php">Kyc Policy</a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /END OF ROW/ -->
                </div>
                <!-- /END OF COL/ -->
            </div>
            <!-- /END OF ROW/ -->

            <!-- start row 2 -->
            <div class="row">
            	© <a href="plaak.co">PLAAK PTE. LTD</a>
            </div>
            <!-- /end of row 2-->
        </div>
        <!-- /END OF OUTER/ -->
    </div>
    <!-- /END OF INNERPADDING/ -->

		</div>
		
		</div>
	</div>
</div>

